<ion-view view-title="" hide-nav-bar="{{hideNavBar}}">

  <ion-content class="desc_contrato_licenca">
    <div class="col-xs-12">
      <p>Para proceguir, é necessário ler e estar de acordo com os termos e condições de uso.</p>
    </div>
  </ion-content>

  <ion-content class="col-xs-12">

    <ion-content class="contrato_licenca">
      <p><b>TERMOS E CONDIÇÕES DE USO DO APLICATIVO CIGOAPP</b></p>
      <p>PREZADO(A) USUÁRIO(A):</p>
      <p>
        LEIA ATENTAMENTE OS TERMOS E CONDIÇÕES DE USO A SEGUIR. AO CLICAR NO BOTÃO "CONCORDO" NA TELA DE ACESSO AO APLICATIVO CIGOAPP
        MOBILE, VOCÊ ESTARÁ ADERINDO E ACEITANDO AUTOMÁTICA E INTEGRALMENTE OS SEUS TERMOS E CONDIÇÕES DE USO.
      </p>

      <p><b>1.Importante</b></p>

      <p>
        As Condições Gerais de Uso são aplicáveis a todos os Usuários que venham a utilizar o Aplicativo Cigo App (Mobilidade Urbana),
        suas ferramentas e (“Serviços”), todos de propriedade da Cigo Tecno¬logia.
      </p>


      <p><b>2. Do Aplicativo </b></p>
      <p>
        O aplicativo CigoApp Mobile exibe apenas a previsão do tempo de chegada com base em acompanhamento de rotas e GPS (módulo
        de geolocalização) instalados nos veículos que operam no Sistema de Transporte Coletivo de Passageiros por Ônibus,
        que poderá operar em todo o território brasileiro. Para saber quais cidades CigoApp Mobile opera, para saber mais
        acesse: <b style="color:mediumblue">www.cigoapp.com/cidades</b>.
      </p>

      <p>
        O CigoApp Mobile também possui um canal de comunicação interativo que coleta, organiza e divulga o conteúdo de empresas,
        anúncios e demais publicações que contenham promoções e ofertas veiculadas por terceiros.
      </p>

      <p><b>3. Do cadastro </b></p>
      <p>
        O aplicativo CigoApp Mobile é oferecido gratuitamente para qualquer usuário que possua telefone móvel do tipo smartphone,
        que contenha algum dos principais sistemas operacionais do mercado, dentro das condições operacionais disponibilizadas
        por estes aparelhos e softwares respectivos.
      </p>
      <p>
        Para o uso de todas as ferramentas que compõem o CigoApp Mobile, é necessária a realização de cadastro básico, destinado
        apenas a fins estatísticos e ao controle de utilização do sistema.
      </p>

      <p>
        Caso o usuário não se sinta à vontade de criar uma conta, ele poderá usar a versão apenas de pesquisa de informações sobre
        o ônibus e o canal o canal comercial.
      </p>

      <p>
        O descumprimento das condições previstas neste instrumento acarretará a suspensão temporária ou definitiva do Usuário ao
        acesso dos Serviços, a critério da CigoApp Mobile, além das demais medidas aplicáveis.
      </p>

      <p><b>4.Exclusão de cadastro</b></p>
      <p>
        Serão cancelados, a qualquer tempo, cadastros que contenham expressões ou características i) de cunho injurioso, ii) que
        afrontem direito de terceiros, iii) semelhantes a nomes e pseudônimos de pessoas de relevância pública, famosos ou
        registrados por terceiros; e iv) expressões que possam induzir terceiros a erro; cabendo ao Usuário responder por
        toda e qualquer reclamação nesse sentido.
      </p>

      <p>
        Também caberá ao Usuário responder por qualquer reclamação ou dano decorrente da utilização de informações de terceiros,
        imprecisas, inverídicas ou irregulares.
      </p>

      <p><b>5.Da utilização dos serviços</b></p>
      <p>
        A utilização do aplicativo CigoApp Mobile está condicionada a existência de rede de comunicação de dados no aparelho, ao
        download e a geolocalização do usuário para rastreamento das rotas de ônibus e locais de interesses no canal “o que
        há por perto”.
      </p>
      <p>
        No menu "Reportar informação", o aplicativo exibe tutorial de suas funcionalidades e respectivos acessos.
      </p>

      <p><b>6.Da exclusão de garantias e responsabilidades</b></p>
      <p>
        Tendo em vista que CigoApp Mobile é feito por meio virtual, cujas condições técnicas de funcionamento não podem ser de todo
        controladas, convenciona-se que a Cigo Tecnologia não se responsabiliza pelos prejuízos que possam eventualmente
        ocorrer nas informações, dados e conteúdos do Usuário.
      </p>
      <p>
        A Cigo Tecnologia envidará seus melhores esforços para manter os conteúdos, dados e informações do Usuário livres de vírus
        ou de outros elementos nocivos a sistemas eletrônicos, contudo, não garante a ausência total de tais elementos.
      </p>
      <p>
        As informações disponibilizadas no aplicativoCigoApp Mobile são meramente preditivas, baseadas em informações constantes
        no banco de dados e estimativas geradas via sistema. Como qualquer sistema de previsão, deve ser interpretado e utilizado
        com a devida cautela.
      </p>
      <p>
        A adoção de quaisquer artifícios, dispositivos, softwares ou outro recurso que contrariem as regras do regulamento ou venham
        a interferir ou inviabilizar as atividades do CigoApp Mobile e suas Ferramentas acarretará a exclusão do Usuário,
        sem prejuízo da apuração de perdas de danos e demais sanções legais cabíveis.
      </p>
      <p>
        A Cigo Tecnologia não garante a disponibilidade e a continuidade do funcionamento dos serviços do aplicativo, nem tais serviços
        e conteúdos a ele relacionados se encontram disponíveis para todas as áreas geográficas. As interrupções do funcionamento
        do aplicativoCigoApp Mobile, totais ou parciais, poderão ser previamente informadas ou não.
      </p>
      <p>
        O acesso ao CigoApp Mobile pode ser interrompido, suspenso ou encerrado, a qualquer momento, por diferentes motivos, inclusive
        em virtude da realização de manutenções rotineiras.
      </p>
      <p>
        A Cigo Tecnologia não se responsabiliza por perdas e danos de qualquer natureza que possam advir da eventual indisponibilidade
        ou descontinuidade dos serviços, da defraudação da utilidade que os usuários possam ter atribuído aos serviços, da
        falibilidade das operadoras de serviços de telecomunicação, da presença de vírus ou de outros elementos nos conteúdos
        que possam produzir alterações no sistema de informática, nos documentos eletrônicos ou cadastros dos usuários e,
        em particular, ainda que não de modo exclusivo, das falhas no acesso às distintas páginas por meio de qualquer dispositivo
        móvel ou tecnologia assemelhada.
      </p>
      <p>
        A Cigo Tecnologia não se responsabiliza pelo uso indevido, por quaisquer usuários, das informações, dos instrumentos, dos
        materiais disponibilizados e/ou utilizados em seus serviços, para quaisquer que sejam os fins, sendo de inteira responsabilidade
        desses usuários as eventuais lesões a direito próprio ou de terceiros.
      </p>
      <p>
        Cabe unicamente aos usuários obter os equipamentos e serviços necessários para o acesso aos serviços do aplicativoCigoApp
        Mobile, não sendo a Cigo Tecnologia responsável por danos ou problemas decorrentes da demora, interrupção ou bloqueio
        nas transmissões de dados ocorridos por meio de quaisquer redes de telecomunicações.
      </p>
      <p>
        Em nenhuma circunstância a Cigo Tecnologia será responsável por quaisquer danos diretos ou indiretos, especiais, incidentais
        ou de consequência, perdas ou despesas oriundas dos serviços do aplicativoCigoApp Mobile ou da incapacidade de uso
        ou com relação a qualquer falha de desempenho, erro, omissão, interrupção, defeito ou demora na operação ou transmissão,
        vírus digital ou falha da linha ou do sistema. Todas as informações acessíveis por meio dos serviços do aplicativo
        são fornecidas exclusivamente com propósito informativo.
      </p>
      <p>
        Aplica-se a todo o Território Brasileiro, na qualidade de Poder Concedente dos Serviços de Transporte Coletivo de Passageiros
        por Ônibus, todas as exclusões de garantias e de responsabilidades aplicáveis ao CigoApp Mobile.
      </p>
      <p>
        A infração de quaisquer das disposições aqui constantes sujeitará o infrator ao pagamento por eventuais perdas e danos a
        que tenha dado causa.
      </p>


      <p><b>7. Da adesão às condições de uso</b></p>
      <p>
        A utilização do aplicativo CigoApp Mobile implica o conhecimento prévio e a concordância do usuário com todos os termos e
        condições estabelecidos acima.
      </p>
      <p>
        A Cigo Tecnologia poderá alterar os termos e condições de uso do aplicativo a qualquer momento, sem aviso prévio, reservando
        ao usuário o direito de cancelamento do serviço, em caso de discordância.
      </p>
      <p>As modificações passarão a ser aplicáveis a partir da data de veiculação da nova versão. </p>
      <p>O uso contínuo do serviço por parte do usuário, após a realização de qualquer mudança dos termos e condições de uso,
        implicará a concordância do usuário com tais modificações.</p>
      <p>
        O Usuário declara estar ciente de que o conteúdo do CigoApp Mobile e seus Serviços são protegidos por direitos de propriedade
        industrial, direitos autorais e conexos, sendo de exclusiva propriedade de seu respectivo autor ou da Cigo Tecnologia
        e, deste modo, obriga-se a não o reproduzir, editá-lo ou alterá-lo, no todo ou em parte, sem as devidas autorizações
        e licenças.
      </p>
      <p>
        O conjunto imagem e as funcionalidades do aplicativo e seus serviços não poderão ser reproduzidos pelo usuário ou terceiros,
        a qualquer título, sem a devida autorização, por escrito, da Cigo Tecnologia.
      </p>
      <p>
        Em caso de infração comprovada destas Condições de Uso, o Usuário será excluído automaticamente do CigoApp Mobile, tendo
        seu cadastro cancelado, ficando inclusive responsável por responder pelos danos que der causa, sem limite das demais
        responsabilidades.
      </p>
      <p>
        O Usuário autoriza expressamente a Cigo Tecnologia a manter em seu banco de dados as informações cadastradas assim como quaisquer
        informações relacionadas à navegação do Usuário noCigoApp Mobile, podendo a Cigo Tecnologia utilizar tais informações
        junto aos seus parceiros estratégicos, comerciais ou técnicos, com a finalidade de oferecer serviços e/ou conteúdo
        ao usuário, bem como para melhorar o tráfego de informações e a tecnologia empregada no CigoApp Mobile.
      </p>
      <p>
        A Cigo Tecnologia fica autorizado a utilizar os dados do Usuário para fins de divulgação do CigoApp Mobile.
      </p>


      <p><b>8. Disposições finais</b></p>
      <p>Nenhuma das marcas exibidas no CigoApp Mobile ou nas suas Ferramentas pode ser considerada pelo Usuário ou terceiros
        como de domínio público, devendo ser respeitados os direitos dos seus respectivos titulares.</p>
      <p>
        O Usuário não deverá fazer upload, publicar ou de qualquer forma disponibilizar no Website qualquer material, protegido ou
        não por direitos autorais, registro de marcas ou qualquer outro direito de propriedade intelectual.
      </p>
      <p>
        Os encargos cobrados pelo provedor de internet e operadora de serviços de telecomunicação (WAP, GPRS) de escolha do Usuário,
        bem como os impostos aplicáveis, serão de responsabilidade do Usuário.
      </p>
      <p>
        A Cigo Tecnologia tomará todas as medidas cabíveis para manter o sigilo das informações cadastradas pelo Usuário, porém não
        responderá por danos decorrentes de eventual violação de tais medidas por parte de terceiros que utilizam as redes
        públicas ou a internet de forma ilegal, corrompendo os sistemas de segurança para acessar as informações doCigoApp
        Mobile e, consequentemente, dos seus Usuários.
      </p>

      <p><b>9. Sobre o aplicativo</b></p>
      <p>Esta é a Versão n.º 1.0.0 do Aplicativo CigoApp Mobile. </p>

    </ion-content>

  </ion-content>

  <!--<div class="col-xs-12" style="position: absolute; bottom: 50px; width: 100%">

  </div>-->

  <div class="bar bar-footer text-left" style="background: #ddd;">
    <div class="col-xs-2">
      <ion-checkbox color="dark" class="concordo" ng-click="Avanca();"></ion-checkbox>
    </div>
    <div class="col-xs-10">
      <span class="concordo"><h4>Concordo</h4></span>
    </div>
  </div>

  <!--<ion-footer-bar align-title="center">
    <ion-label>Concordo</ion-label>
    <ion-checkbox color="dark" checked="true"></ion-checkbox>
  </ion-footer-bar>-->

  <!-- align to the bottom of the page -->
  <!--<div style="position: absolute; bottom: 0px; width: 100%">
    <div style="text-align: center">
      <span style="background: #ddd; border-top: 2px solid #808080; border-bottom: 2px solid #808080">
          <input type="checkbox" id="chkAcordo" name="chkAcordo" />
          <label>Concordo</label>
     </span>
    </div>
  </div>-->

</ion-view>
