<ion-view view-title="" hide-nav-bar="{{hideNavBar}}">
    <ion-content class="fundo">

        <div class="alert alert-success aler-block navbar navbar-fixed-top hide">
            <a href="#" class="close" data-dismiss="alert">x</a>
            <h2>Error</h2>
            <p>Exexmplo de Tela de Erro no Bootstrap</p>
        </div>

    </ion-content>
</ion-view>
<ion-nav-view hide-nav-bar="true">
   
    <button id="fab" class="button button-dark button-fab button-fab-bottom-right" ng-click="avancar();">
         AVANÇAR &nbsp
    </button>
   
</ion-nav-view>