<ion-view view-title="Reportar informações">
    <ion-content class="fundo_tela_onibus">
        <div class="bar bar-subheader bar-default static text-center hide">
            <strong class="title">Reportar informações da linha</strong>
        </div>

        <div class="centro_tela">
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="col-xs-4 col-md-pull-8" style="padding: 6px">
                        <img src="img/logo_atraso.png" alt="" class="img" width="100" height="auto" />
                        <p class="fonte_preta"><b>Atraso</b></p>
                    </div>
                    <div class="col-xs-4 col-md-pull-8" style="padding: 6px">
                        <img src="img/logo_veiculo_parou.png" alt="" class="img" width="100" height="auto" />
                        <p class="fonte_preta"><b>Veiculo não parou</b></p>
                    </div>
                    <div class="col-xs-4 col-md-pull-8" style="padding: 6px">
                        <img src="img/logo_limpeza_onibus.png" alt="" class="img" width="100" height="auto" />
                        <p class="fonte_preta"><b>Limpeza do ônibus</b></p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row text-center">
                <div class="col-xs-12">
                    <div class="col-xs-4 col-md-pull-8" style="padding: 6px">
                        <img src="img/logo_lotacao_onibus.png" alt="" class="img" width="100" height="auto" />
                        <p class="fonte_preta"><b>Lotação do ônibus</b></p>
                    </div>
                    <div class="col-xs-4 col-md-pull-8" style="padding: 6px">
                        <img src="img/logo_itinerario_errado.png" alt="" class="img" width="100" height="auto" />
                        <p class="fonte_preta"><b>Itinerário errado</b></p>
                    </div>
                    <div class="col-xs-4 col-md-pull-8" style="padding: 6px">
                        <img src="img/logo_parada_errada.png" alt="" class="img" width="100" height="auto" />
                        <p class="fonte_preta"><b>Parada Errada</b></p>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12 text-center">
                <div "col-xs-4 col-md-pull-8" style="padding: 6px">
                    <img src="img/logo_lotacao_onibus.png" alt="" class="img" width="100" height="auto" />
                    <p class="fonte_preta"><b>Lotação do ônibus</b></p>
                </div>
                <div "col-xs-4 col-md-pull-8">
                    <img src="img/logo_itinerario_errado.png" alt="" class="img" width="100" height="auto" />
                    <p class="fonte_preta"><b>Itinerário errado</b></p>
                </div>
                <div "col-xs-4 col-md-pull-8">
                    <img src="img/logo_parada_errada.png" alt="" class="img" width="100" height="auto" />
                    <p class="fonte_preta"><b>Parada Errada</b></p>
                </div>
            </div>-->

        </div>

    </ion-content>
</ion-view>