<ion-view view-title="">
    <ion-content>
        <div ng-show="erroInternet!=''" class="bar bar-subheader bar-assertive static text-center">
            <strong class="title">{{erroInternet}}</strong>
        </div>


        <div rola="main" class="container-fluid" style="height: 600px; backface-visibility: #ddd">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="img/Icon-Warning-Red.png" alt="" width="300" height="auto"></img>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>